table {
    border-collapse: collapse;
    border-color: silver;
    text-align: center;
    margin: auto;
}
.th1 {
    width: 72px;
    height: 57px;
    background-color: #DADADA;
}
.th2 {
    width:444px;
    height: 57px;
    text-align: left;
    background-color: #DADADA;
}
.th3 {
    width:276px ;
    height: 57px;
    background-color: #DADADA;
}
.th4 {
    width:251px ;
    height: 57px;
    background-color: #DADADA;
}
.td1 {
    width: 72px;
    height: 57px;
}     
.td3 {
color: red;
}
 @font-face {
font-family: chemi fonti;
src: url("font/Inter-VariableFont_slnt\,wght.ttf");
}
td {
font-family: chemi fonti;
padding: 8px;
}
th {
    font-family: chemi fonti;
}
.td2 {
text-align: justify;
}
button {
background-color: #FFD43A;
width: 115px;
height: 36px;
border: none;
}
h1 {
margin-left: 215px;
}